.toolbar {
    display: flex;
    margin-top: 30px;
}

.toolbarAction {
    cursor: pointer;
}

.toolbarItem {
    background: #F8F4ED;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.personIcon {
    margin-left: 5px;
    margin-right: 20px;
}

.flexSpaceBetween {
    justify-content: space-between;
}

.flexStart {
    justify-content: start;
}

.flexStart .toolbarItem {
    margin-right: 20px;
}