.suggesedDish {
    padding: 20px;
    background: #F8F4ED;
    border-radius: 10px;
}

.suggesedDish h3 {
    margin-bottom: 20px;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.suggesedDishDescription {
    font-size: 20px;
}

.addProductForm {
    padding: 20px;
    background: #F8F4ED;
    border-radius: 10px;
}

.addProductForm h3 {
    text-align: center;
    margin-bottom: 20px;
}

.addProductForm .solidBtn {
    margin: 20px auto 0 auto;
}

.addProductForm .secondaryBtn {
    margin: auto;
}

.addProductField {
    font-size: 20px;
}

.productNameInput {
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

.addProductsInputs {
    display: flex;
    justify-content: space-between;
}

.addProductsInputs input {
    width: 100%;
    margin-right: 10px;
}

.dropdown {
    position: absolute;
    left: 0;
    top: 20px;
    list-style: none;
    background: #FFFFFF;
    width: 100%;
    box-sizing: border-box;
    padding: 0 8px;
}

.dropdown li {
    padding: 10px 0;
    border-bottom: 1px solid #E3E3E3;
}

.singleSelect {
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #E3E3E3;
    color: #535353;
    display: flex;
    font-size: 16px;
    padding: 8px;
    position: relative;
    width: 40%;
}