.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userProfile {
    display: flex;
}

.profileText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.profileAvatar {
    border-radius: 100%;
    height: 58px;
    width: 58px;
}

.menuIcon {
    cursor: pointer;
}