@font-face {
  font-family: 'Tamil MN';
  src: url('./fonts/TamilMN-01.ttf');
}

@font-face {
  font-family: 'Tamil MN Bold';
  src: url('./fonts/TamilMN-Bold-02.ttf');
}

* {
  font-family: 'Tamil MN', sans-serif;
color: #332D46;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  max-width: 700px;
}

h2 {
  font-size: 36px;
  margin: 0;
}

h3 {
  font-size: 28px;
  margin: 0;
}

h4 {
  font-size: 20px;
  font-weight: normal;
}

p {
  font-size: 24px;
}

input {
  background: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #E3E3E3;
  color: #535353;
  font-size: 16px;
  padding: 8px;
  display: flex;
}

.page {
  min-height: 100vh;
  padding: 30px 20px;
}
